<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8769229673-oeg2a2f4h5djm9v9vv17rtsevg4sqcf3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8769229673-oeg2a2f4h5djm9v9vv17rtsevg4sqcf3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>8769229673-8rirj72fv65e8imi8f0i09gfcu9chvkv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBa_JxUyzOiFe2-QjfCNJt2Y_LkMhNrFQI</string>
	<key>GCM_SENDER_ID</key>
	<string>8769229673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.actividad8firebase</string>
	<key>PROJECT_ID</key>
	<string>actividad8-8bc7f</string>
	<key>STORAGE_BUCKET</key>
	<string>actividad8-8bc7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8769229673:ios:c62f7e01e479a7005423f8</string>
</dict>
</plist>